.card__container {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 15px;
    transition: 0.15s all;
}

.card__container:hover {
    background-color: var(--green);
    box-shadow: rgba(150, 220, 132, 0.25) 0px 54px 55px, rgba(150, 220, 132, 0.12) 0px -12px 30px, rgba(150, 220, 132, 0.12) 0px 4px 6px, rgba(150, 220, 132, 0.17) 0px 12px 13px, rgba(150, 220, 132, 0.09) 0px -3px 5px;
    color: #fff;
}