main {
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(16, 88, 220, 0.13209033613445376) 50%, rgba(255, 255, 255, 1) 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    padding: 10%;
    row-gap: 32px;
}

h1 {
    font-size: 3.25rem;
    font-weight: 700;
}

span {
    color: var(--green);
}

label {
    background-color: var(--green);
    border: none;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 30px;
    transition: 0.25s all;
}

label:hover {
    box-shadow: rgba(150, 220, 132, 0.25) 0px 54px 55px, rgba(150, 220, 132, 0.12) 0px -12px 30px, rgba(150, 220, 132, 0.12) 0px 4px 6px, rgba(150, 220, 132, 0.17) 0px 12px 13px, rgba(150, 220, 132, 0.09) 0px -3px 5px;
}

input[type="file"] {
    display: none;
}

div {
    display: flex;
    flex-direction: column;
}

.cardsDiv {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: auto;
    width: 100%;
}